extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Nils Kriedner
        p Web Developer & Meditation Coach
        
        .about-bio
          p My passion is to LEARN, CREATE and TEACH new things. 
          p After training, studying and teaching meditation and mindfulness worldwide for over 20 years, some years ago I found my love for coding. For me coding is the perfect counter-part for all the consciousness work and training that I have been done so far...
          p In the coding world I spent both extensive time with self-studying as well as participating in intensive live trainings.
          p In 2021 I successfully completed the three months Fullstack Web Development Bootcamp at Spiced Academy in Berlin.
          p Currently I am deepening my knowledge by completing Teamtreehouse's techdegree programs and developing my own "Conscious Coding" Curriculum where I want to combine "Coding and Meditation".
          P I am open for job offerings and freelance-work.

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li Sass
          li Bootstrap
          li UI Design
          li JavaScript
          li Python
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li jQuery
          li Node.js
          li Express
          li Pug
          li Ejs 
          li Handlebars
          li React.js
          li Vue.js
          li PostgreSQL 
          li MongoDB
          li Web Sockets

        h6 Contact Info
        ul
          li +49 179 3920682
          li nkriedner@googlemail.com

        a.btn-link(href='https://www.linkedin.com/in/nils-kriedner-b46b16137/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/nkriedner' target="_blank") GitHub
        a.btn-link(href='https://www.facebook.com/nils.kriedner/' target="_blank") Facebook

    nav.nav
      a(href='/')
        span &larr;
        |  Back