extends layout.pug

block content

  article.portfolio-intro

    h1 My JavaScript Portfolio
    p These are the main projects I had to complete for the Fullstack JavaScript Techdegree at Teamtreehouse.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file 
      each project in projects 
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href='#')
            //- img.thumbnail(src='https://placehold.it/550x550', alt='')
            img.thumbnail(src=project.image_urls[0], alt='')
            h5= project.project_name

