extends layout.pug

block content

  article.portfolio-intro

    h1 My Coding Portfolio
    p Here are some of the many Web Development projects I have created and worked on:


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href=`/project/${project.id}`)
            //- img.thumbnail(src='https://placehold.it/550x550', alt='')
            img.thumbnail(src=project.image_urls[0], alt='')
            h5= project.project_name

