extends layout.pug

block content

  article.portfolio-intro

    h1 My Coding Portfolio
    p On this site I want to present some of the many Web Development projects I have created and worked on:


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name} Thumbnail`)
            h5= project.project_name

